#duolingo_body {
    border-bottom-left-radius:50%;
    border-bottom-right-radius:50%;
    height: 300px;
    width: 250px;
    background-color: rgb(34, 189, 52);
    transform: translate(100px,100px);
}

#right_ear {
    height: 50px;
    width: 125px;
    border-top-right-radius: 60%;
    border-top-left-radius: 100%;
    background-color: rgb(34, 189, 52);
    transform: translate(225px,-249px);
}

#left_ear {
    height: 50px;
    width: 125px;
    border-top-left-radius: 60%;
    border-top-right-radius: 100%;
    background-color: rgb(34, 189, 52);
    transform: translate(100px,-300px);
}

#wings1 {
    background-color: rgb(34, 189, 52);
    width: 75px;
    height: 125px;
    border-radius: 100% / 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    rotate: 135deg;
    position:relative;
    top: -200px;
    right: -320px;
    animation-name: wing-movement1 ;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#wings2 {
    background-color: rgb(34, 189, 52);
    width: 75px;
    height: 125px;
    border-radius: 100% / 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    top:-320px;
    right:-50px;
    rotate: 45deg;
    animation-name: wing-movement2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

.spots {
    background-color: rgb(104, 214, 117);
    width: 50px;
    height: 30px;
    border-radius: 50%/100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.foot {
    background-color: chocolate;
    height: 50px;
    width: 100px;
    border-radius: 35%;
    float: inline-start;
}

.eye-white {
    background-color: white;
    height:100px;
    width: 80px;
    border-radius: 48%;
}

.eye-black {
    background-color: black;
    height:80px;
    width: 60px;
    border-radius: 48%;  
    float: inline-end;
}

#eye-mask{
    background-color: rgb(161, 225, 65);
    width: 220px;
    height: 110px;
    border-radius: 35%;
}

.beak {
    background-color: coral;
    width: 45px;
    height: 20px;
    border-radius: 50%/100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

@keyframes wing-movement1 {
    0% {rotate: 135deg;}
    25% {rotate: 105deg;}
    50% {rotate: 135deg;}
    75% {rotate: 105deg;}
    100% {rotate: 135deg;}
}

@keyframes wing-movement2 {
    0% {rotate: 45deg;}
    25% {rotate: 75deg;}
    50% {rotate: 45deg;}
    75% {rotate: 75deg;}
    100% {rotate: 45deg;}
}

